*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

$color : (
    primary: #B0A8B9,
    secondary: #4B4453,
    div: #7C7484,
);

@function color($key) {
    @return map-get($color, $key);
}

body {
    background-color: color("primary");
    min-height: 100vh;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;

    #menu {
                
        #checkbox {
            display: none;
            &:checked ~ #side-nav {
                left: 0%;
            }

            &:checked ~ label > i {
                color: color("primary");
            }
        }

        label > i {
            position: fixed;
            margin: 2em;
            cursor: pointer;
            font-size: 2em;
            z-index: 999;
            color: color("secondary");
        }
    
        

        div#side-nav {
            background-color: color("secondary");
            color: color("primary");
            position: fixed;
            left: -500px;
            transition: all .5s ease-in-out;
            width: 500px;
            height: 100%;
            z-index: 10;
    
            ul {
                display: flex;
                flex-direction: column;
                
                margin-top: 10em;
                margin-left: 2em;
            }
    
            li {
                padding: 2em;
    
                i {
                    font-size: 2rem;
                    padding-right: 1em;
                }
    
                a {
                    color: color("primary");
                    font-size: 1.5em;
                }
    
                &:hover {
                    padding-left: 3em;       
                }
            }
        }
    }

    header {
        
        width: 100%;
        padding: 2em;
        color: color("secondary");
        text-align: center;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        #main-heading {
            h1 {
                padding: 1em;
                background-color: color("primary");
                border-radius: 1em;
            }
            &:hover {
                cursor: pointer;
            }
        }
        
    }

    #content-wrapper {
       
        width: 100%;
       height: auto;
       padding: 0 8em;
        
        #genue {
            height: 100%;
            margin: 0 auto;

            h1 {
                font-size: 3em;
                margin-bottom: 1em;
            }

            #artist-wrapper {
                height: auto;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-template-rows: repeat(2,1fr);
                gap: 2em 2em;

                div {
                    justify-self: center;
                    align-self: center;
                    height: 200px;
                    width: 100%;
                    transition: all 0.5s ease;
                    background-color:#fff;
                    box-shadow: 6px 6px 14px black;
                    border-radius: 5px;
                    cursor: pointer;
                    filter : grayscale(0%);
                
                    &:hover {
                        opacity: 0.3;
                        filter : grayscale(100%);
                    }
                }

                div:nth-of-type(1) {
                    background-image: url("../artist/eminem.jpg");
                    background-size: cover;
                }

                div:nth-of-type(2) {
                    background-image: url("../artist/ritviz.jpg");
                    background-size: cover;
                }

                div:nth-of-type(3) {
                    background-image: url("../artist/ed.jpg");
                    background-size: cover;
                }

                div:nth-of-type(4) {
                    background-image: url("../artist/maroon5.jpg");
                    background-size: cover;
                }

                div:nth-of-type(5) {
                    background-image: url("../artist/lil\ dicky.jpg");
                    background-size: cover;
                }

                div:nth-of-type(6) {
                    background-image: url("../artist/NF.png");
                    background-size: cover;
                }

                div:nth-of-type(7) {
                    background-image: url("../artist/BTS.jpg");
                    background-size: cover;
                }

                div:nth-of-type(8) {
                    background-image: url("../artist/chainsmokers.png");
                    background-size: cover;
                }
                
                div:nth-of-type(9) {
                    background-image: url("../artist/marshmallow.jpeg");
                    background-size: cover;
                }

                div:nth-of-type(10) {
                    background-image: url("../artist/50cent.jpg");
                    background-size: cover;
                }

                div:nth-of-type(11) {
                    background-image: url("../artist/alan.jpg");
                    background-size: cover;
                }

                div:nth-of-type(12) {
                    background-image: url("../artist/juice.jpg");
                    background-size: cover;
                }
            }

        }
     
        
        
    }

    #footer {
        p {
            padding: 3em 0;   
            text-align: end; 
        }
    }

}



@media screen and (max-width: 750px) {
  
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 450px) {
    #artist-wrapper {
        display: block;

        div {
            width: 70%;
        }
    }
}
