*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$color : (
    primary: #B0A8B9,
    secondary: #4B4453,
    div: #7C7484,
);

@function color($key) {
    @return map-get($color, $key);
}

body {
    background-color: color("primary");
    min-height: 100vh;
}

.wrapper {
    height: 100vh;
    width: 100%;

    #menu {
                
        #checkbox {
            display: none;
            &:checked ~ #side-nav {
                left: 0%;
            }

            &:checked ~ label > i {
                color: color("primary");
            }
        }

        label > i {
            position: fixed;
            margin: 1em 2em ;
            cursor: pointer;
            font-size: 2em;
            z-index: 999;
            color: color("secondary");
        }
    
        

        div#side-nav {
            background-color: color("secondary");
            color: color("primary");
            position: fixed;
            left: -30%;
            transition: all .5s ease-in-out;
            width: 30%;
            height: 100%;
    
            ul {
                display: flex;
                flex-direction: column;
                
                margin-top: 10em;
                margin-left: 2em;
            }
    
            li {
                padding: 2em;
    
                i {
                    font-size: 2rem;
                    padding-right: 1em;
                }
    
                a {
                    color: color("primary");
                    font-size: 1.5em;
                }
    
                &:hover {
                    padding-left: 3em;       
                }
            }
        }
    }

    header {
        position: fixed;
        width: 100%;
        padding: 2em;
        color: color("secondary");
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        #main-heading {
            &:hover {
                cursor: pointer;
            }
        }
    
        #guest {
            display: flex;
            align-items: center;
    
            i {
                font-size: 2em;
                margin-right: .5em;
            }
        }
        
    }

    #content-wrapper {
        width: 100%;
        height: 100%;
        padding: 8em 8em 0 8em;
        
        
    }

}


@media and screen (max-width: 1000px) {
    #side-nav {
        
    }
}